*{
    padding: 0px;
    margin: 0px;
}
body{
  
}

/* header */

#header{
    padding: 0px;
    margin: 0px;
    height: 52px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 219, 254);
    box-shadow: rgb(0 0 0 / 70%) 0 30px 20px -40px;
    position: static; 
    z-index: 1000;
    /* right: 2em; */
    
}

/* Heading */

h1{
    padding: 20px;
    font-size: 30px;
    font-family: "League Spartan", sans-serif;

}

/* Navigation bar */

#navbar{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 999; 
    position: relative;


}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 25px;
    font-style: normal;
    transition: 0.3s ease;
}
#navbar li a:hover, 
#navbar li a.affect{
    color: #bb6620 
}

#navbar li a.affect::after, 
#navbar li a:hover::after {
    content: "";
    height: 2px;
    width: 35%;
    background: #bb6620;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: all .3s ease;

}

/* cart and login  */

#right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#right li{
    list-style: none;
    padding: 0 20px;
}

/* open close menu */

.openMenu, .closeMenu{
    display: none;
}

.mega{
    position: absolute;
    width: 89%;
    height: 13em;
    top: 1em;
    left: -36em;
    background-color: rgb(224, 240, 255);
    font-family: "League Spartan", sans-serif;
    box-shadow: rgb(0 0 0 / 70%) 0 30px 20px -30px;
    z-index: -1;
    display: flex;
    margin: 17px;
    padding-right: 83em;
    padding-left: 20em;
    visibility: hidden;
    opacity: 0; 
    white-space: nowrap; /* Prevents text wrapping */ 

}
.wrapper{
    margin: 60px;
    padding: 20px;
    display: flex;
    z-index: 1;
}



.dropDown:hover .mega{
     color: rgb(0, 0, 0);
    visibility: visible;
    transition: all 0.2s ease;
    opacity: 1;
    /* z-index: 998; */
    

}



.wrapper{
    padding: 0;
    margin: 0;
}

h4{
    display: flex;
    padding-left: 0.9em;
    margin: 0.3em;
    padding-bottom:  1em;
    align-items: center;
    
}

.dropDown:hover .fa-caret-down{
    rotate: 180deg;
    transition: all 0.2s ease;

}

/* .list_items{
    margin: 0.3em;
    padding-bottom:  1em;
} */
.flexcol{
    padding: 0;
    margin: 2.2em;
}


/* This is for mega1 */
.mega1{
    position: absolute;
    width: 89%;
    height: 13em;
    top: 1em;
    left: -48em;
    background-color: rgb(224, 240, 255);
    font-family: "League Spartan", sans-serif;
    box-shadow: rgb(0 0 0 / 70%) 0 30px 20px -30px;
    z-index: -1;
    display: flex;
    margin: 17px;
    padding-right: 83em;
    padding-left: 20em;
    visibility: hidden;
    opacity: 0;  
    white-space: nowrap; /* Prevents text wrapping */

}
.wrapper1{
    margin: 60px;
    padding: 20px;
    display: flex;
}



.DropdownWomen:hover .mega1{
     color: rgb(0, 0, 0);
    visibility: visible;
    transition: all 0.2s ease;
    opacity: 1;

}



.wrapper1{
    padding: 0;
    margin: 0;
}

h4{
    display: flex;
    padding-left: 0.9em;
    margin: 0.3em;
    
    padding-bottom:  1em;
}

.DropdownWomen:hover .dropdowniconWomen{
    rotate: 180deg;
    transition: all 0.2s ease;

}

/* .list_items{
    margin: 0.3em;
    padding-bottom:  1em;
} */
.flexcol1{
    padding: 0;
    margin: 2.2em;
}


/* This is for mega2 */
.mega2{
    position: absolute;
    width: 89%;
    height: 13em;
    top: 1em;
    left: -56em;
    background-color: rgb(224, 240, 255);
    font-family: "League Spartan", sans-serif;
    box-shadow: rgb(0 0 0 / 70%) 0 30px 20px -30px;
    z-index: -1;
    display: flex;
    margin: 17px;
    padding-right: 83em;
    padding-left: 26em;
    white-space: nowrap; /* Prevents text wrapping */
    visibility: hidden;
    opacity: 0;  
}
.wrapper2{
    margin: 60px;
    padding: 20px;
    display: flex;
}



.dropDownElectronic:hover .mega2{
     color: rgb(0, 0, 0);
    visibility: visible;
    transition: all 0.2s ease;
    opacity: 1;

}



.wrapper2{
    padding: 0;
    margin: 0;
}

h4{
    display: flex;
    padding-left: 0.9em;
    margin: 0.3em;
    padding-bottom:  1em;
}

.dropDownElectronic:hover .dropdownicon-electronic{
    rotate: 180deg;
    transition: all 0.2s ease;

}


.flexcol2{
    padding: 0;
    margin: 2.2em;
}

/* Mega items style */

.list_items_men{
    
    margin-bottom: 6px;
    margin-left: 26px;
}
.list_items_women{

    margin-bottom: 6px;
    margin-left: 26px;
}
.list_items_elec{

    margin-bottom: 6px;
    margin-left: 26px;
}

.dropdown_women{
    padding-left: 5px;
}
.dropdown_men{
    padding-left: 5x;
}
.dropdown_elec{
    padding-left: 5px;
}

.mega_icons{
    max-width: 20px;
    height: 20px;
    
    padding-right: 6px;
    padding-bottom: 7px;
}