*{
    padding: 0px;
    margin: 0px;
}

/* header */

#header{
    padding: 0px;
    margin: 0px;
    height: 68px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    background-color: rgb(253, 229, 252);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0)
}
/* Heading */

h1{
    padding: 20px;
    font-size: 30px;
}

/* Navigation bar */

#navbar{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.3s ease;
}
#navbar li a:hover, 
#navbar li a.affect{
    color: #bb6620 
}

#navbar li a.affect::after, 
#navbar li a:hover::after {
    content: "";
    height: 2px;
    width: 35%;
    background: #bb6620;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* cart and login  */

#right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#right li{
    list-style: none;
    padding: 0 20px;
}

